body {
  font-family: 'Titillium Web', sans-serif;
  color: #eeeeee;
  /*background: #C8DEC4; */
  background: #000000;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #115711, #005000);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #115711, #005000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */   
}

.navbar-brand {
  font-size: 20px;
  color: #000;
  font-weight: bold;
}

#testimonial {
  color: #000000;
  background: #f1f1f1;
  padding: 50px 0 30px 0;
  text-align: Center;
  margin-top: 40px;
}

/*
#vehiculos {
  display: none;
}
*/

footer {
  background: url(../img/Fondo.png);
}
